extend ../templates/master

block head-custom
  +meta-title("Control Panel")
  +meta-description("Anthon Open Source Community")

block banner
  .row
    .col-md-12
      h1 # Control Panel
      h2 Your Majesty.

block content
  #wrapper.row
    .col-md-8
      ul
        li: a(href="news-post") Post, Modify or Remove news
        li: a(href="bye") Log out safely
    .col-md-4
      .form-group.clearfix
        .input-group.col-md-8.pull-left
          label.input-group-addon Time To Live
          input.text-warning(type="text", value=params.expire, disabled)#countDown.form-control
          label.input-group-addon s
        button#renew.btn.btn-warning.col-md-3.col-md-offset-1 +1s
append javascript
  script.
    function countDown(cd, cb){
      var i = parseInt(cd.attr('value'));
      if(--i>=0) {
        setTimeout(function() {cd.attr('value',i); countDown(cd, cb)}, 1000);
      } else {
        cb();
      }
    }

    countDown($('#countDown'), function() {
      window.location.reload();
    });

    $('#renew').click(function() {
      $.ajax({
        url:'/admin/api/renew-ticket?timestamp=' + new Date().getTime(),
        success: function(result) {
          if(result == "done") window.location.reload();
        }
      });
    });
