shadow-color(baseColor)
	alpha(darken(baseColor,50%),0.8)

paper-shadow(layer, baseColor)
	box-shadow: 0 0 4px 0 shadow-color(baseColor)

add-tag-style(tag, color, prompt='')
	.afe-tag-{tag}
		.afe-main-item
			h3
				color: darken(color,25%)
			border-color: color
			.afe-main-item-body
				unless prompt==''
					p:first-of-type:before
						color: darken(color,25%)
						content: 'aosc@web /news ' + prompt + ' '
						font-family: monospace
				p:last-of-type:after
					color: transparent
					content: '_'
					font-family: monospace
			&:hover
				.afe-main-item-body
					p:last-of-type:after
						animation: blinking .4s linear infinite
