paper-layer(layer, position=relative)
	position: position
	z-index: layer

font-sans-serif()
	font-family: 'Montserrat', "Segoe UI", "Lucida Grande", Helvetica, Arial, "Microsoft YaHei", FreeSans, Arimo, "Droid Sans", "wenquanyi micro hei", "Hiragino Sans GB", "Hiragino Sans GB W3", FontAwesome, sans-serif;

font-serif()
	font-family: 'Slabo 27px', FontAwesome, serif;