/static/assets/i/gallery/thumbs/*
/static/assets/i/gallery/*
!/static/assets/i/gallery/thumbs/
/static/assets/i/news/*
/static/assets/css/*
/static/assets/css/*
!/static/assets/css/font-awesome*
!/static/assets/css/*bootstrap*
!/static/assets/css/magnific-popup.css
/seo-override-nogit/*
/seo-override-nogit/.*
/.buildpath
/build/
*/archive/
/coverage

__MACOSX

/node_modules/

*/.DS_Store
Icon?
ehthumbs.db
Thumbs.db

*.7z
*.dmg
*.gz
*.iso
*.jar
*.rar
*.tar
*.zip
*.rdb
.*
!.bithoundrc
!.travis*
.*/

!DO-NOT-DELETE
!.DO-NOT-DELETE
