doctype html
html(lang="en")
  head
    title=param.module
    link(href="/css/bootstrap.min.css", rel="stylesheet")
  body
    .container
      .row
        .col-md-6.col-md-offset-3
          h1=param.module
          each val in param.contents
            h2
              500 Internal Server Error : (
