extend ./templates/layout.jade

block title
  | About - AOSC
block append stylesheet
  link(rel='stylesheet', href='assets/css/about.css')
block content
  .afe-bigbanner-non-index: .container: .row
    .col-md-12
      h1 ABOUT
      p All about this community.
  #wrapper: .container: .row
    .col-md-8
      h2.afe-littlecaption THE STORY
      ul.afe-main
        each composition in params.about
          li(class="afe-tag-"+composition.type): .afe-main-item
            h3=composition.section
            p.afe-main-item-subtitle=composition.subtitle
            .afe-main-item-body
              each para in composition.text
                p=para
            hr
    .col-md-3.col-md-offset-1
      h2.afe-littlecaption FIND US
      ul.afe-side
        each contact in params.contacts
          li
            .col-md-12(style="padding: 0px")
              case contact.type
                when "mail"
                  a(href="mailto: #{contact.way}")
                    span.fa.fa-envelope-o(style="font-size: 40px")
                when "Twitter"
                  a(href="https://twitter.com/aosc_dev")
                    span.fa.fa-twitter(style="font-size: 40px")
                when "Sina Weibo"
                  a(href="http://weibo.com/anthondev")
                    span.fa.fa-weibo(style="font-size: 40px")
