extend ./templates/layout.jade

block title
  | Community Portal - About
block append stylesheet
  link(rel='stylesheet', href='assets/css/index.css')
  link(rel='stylesheet', href='assets/css/about.css')
block content
  .afe-bigbanner-non-index: .am-g.am-g-fixed.am-vertical-align: .am-vertical-align-middle.am-cf
    .am-u-md-12
      h1 ABOUT
      h3 All about this community.
  #wrapper: .am-g.am-g-fixed
    .am-u-md-9
      h2.afe-littlecaption THE STORY
      each composition in params.about
        li(class="afe-about-tag-"+composition.type): .afe-about-container
          .afe-about
            h3=composition.section
          .afe-about-body
            each para in composition.text
              p=para
          hr
    .am-u-md-3
      h2.afe-littlecaption FIND US
      ul.afe-prjs
        each contact in params.contacts
          li.am-cf
            img.am-fl(src="assets/i/test.png")
            .afe-prjs-body
              h3=contact.type
              p=contact.way
