extend news

block head-custom
  +meta-title("About Us")
  +meta-description("Anthon Open Source Community")

block banner
  .row
    .col-md-12
      h1 ABOUT
      h2 // FIXME
    .col-md-6
      p // FIXME


block content
  #wrapper.row
    .col-md-8
      p.
        AOSC, short for Anthon Open Source Community, is a F/OSS focused
        community first established by Mingcong (Jeff) Bai and his classmates
        in 2011, initially with an intention to create a more easy-to-use Linux
        distribution with better CJK language support, they started the AnthonOS
        (later known as AOSC OS) project - the first, and still the largest
        project of the community.
      p.
        Today, AOSC sets its goal on making improvements to free and open
        source projects, with more and more contributions made to an ever
        larger amount of upstream projects. The community now holds tens of
        projects instead of a single Linux distribution project, contributed by
        people of this progressive and friendly community.
