extend templates/master

block head-custom
  +meta-title("Community")
  +meta-description("Anthon Open Source Community")

append stylesheet
  +include-css("/assets/css/flow.css")
  +include-css("/assets/css/community.css")

block banner
  .row
    .col-md-12
      h1 COMMUNITY
      h2 Some latest intelligence about this group of Homo sapiens.
    .col-md-6
      p.
        Here you will find information about our latest and future community
        activities. AOSCC (Anthon Open Source Community Conference) for example,
        is our annual get-together where developers and friends of the community
        talk about the past and the coming year, and having fun hacking,
        or... not hacking.

include templates/flow-include
block content
  #wrapper.row
    .col-md-8
      .clearfix
        h1.afe-small-captions RECENT ACTIVITIES
        +flow(params.items)
    #side-gallery.col-md-4
      h1.afe-small-captions PHOTOGRAPHS
      ul
        each val in params.imgs
          li: a.image-popup-no-margins(href=val.imgOrig): img.afe-cover(src=val.imgThumb)
        a &nbsp; TODO

include templates/lightbox-include
append stylesheet
  +lightbox-css()
append javascript
  +lightbox-js()
