extend templates/master.jade

block variables
  - var LANGUAGE_CURRENT = "zh_CN";

block navbar
  // Example for block "navbar"
  li.afe-primary: a(href="#") MASTER
  li.active: a(href="#") ACTIVE LINK
    span.sr-only (current)
  li: a(href="#") LINK
  li: a(href="#") LINK
  li.afe-highlight: a(href="#") HIGHLIGHT

block banner
  // Example for block "banner"
  .row
    .col-md-12.text-center
      h1 Do
      h2 Something new
    .col-md-offset-3.col-md-6.text-center
      p
        | Hi, and welcome to AOSC. We are a group of free and open
        | technology enthusiasts working hard for improvements.

block content
  // Example for block "content"
  .row
    .col-md-6
      p(style="height: 400px;")

block append javascript
  script.
    $(document).ready(function() {
      // TODO: Somethings
    });
