extend templates/master.jade

block head-custom
  +meta-title("Community Portal")
  +meta-description("Anthon Open Source Community")

append stylesheet
  +include-css("/assets/css/flow.css")
  +include-css("/assets/css/hoverpanel.css")
  +include-css("/assets/css/index.css")

block banner
  .row
    .col-md-12.text-center
      h1.afe-index-title AOSC
      // HERE IS AN IDEA, RANDOM SUB-TITLE EACH VISIT?
      // GOOD IDEA
      h2 &nbsp;
    .col-md-offset-3.col-md-6.text-center
      p.
        Welcome to Anthon Open Source Community! We are a group of free and open technology enthusiasts working hard for improvements.

block banner-floating
  .row
    .col-md-12.text-center
      small.
        Most good programmers do programming not because they expect to get paid
        or get adulation by the public, but because it is fun to program. -- Linus Torvalds

block content
  .afe-sub-banner.hidden-sm.hidden-xs
    .container: .row: .col-md-12: ul
      // FIXME: PROTOTYPE
      each val in [1, 2, 3, 4, 5]
        li: a.image-popup-no-margins(href="/assets/i/test.png"): img(src="/assets/i/test.png")
      li: a(href="/community") More...
  .afe-sub-banner-padding.hidden-sm.hidden-xs
  
  #wrapper.row
    .col-md-8
      h1.afe-small-captions LASTEST NEWS
      ul.afe-flow
        each val, index in params.items
          if index<5
            li(class="afe-tag-"+val.type)
                h1.afe-title=val.title
                  small=val.date
                .afe-content
                  each para in val.htmlcontent
                    !=para
          else if index<8
            li(class="afe-tag-"+val.type): h1.afe-title: a(href="#")=val.title
        h1(style="font-size: 18px; margin-bottom: 50px;")
          a(href="/news") Read more...
    .col-md-4
      h1.afe-small-captions PROJECTS OVERVIEW
      ul.afe-hoverpanel
        each project in params.projects
          li
            h1=project.fullname
            p=project.description
            
append stylesheet
  +include-css("/assets/css/magnific-popup.css")
append javascript
  +include-js("/assets/js/jquery.magnific-popup.min.js")
  script.
    $(function() {
      $(".image-popup-no-margins").magnificPopup({
        type: "image",
        closeOnContentClick: true,
        closeBtnInside: false,
        fixedContentPos: true,
        image: {
          verticalFit: true
        },
        zoom: {
          enabled: true,
          duration: 300 // don't foget to change the duration also in CSS
        }
      });
    });
  script.
    $(function() {
      $.getJSON("/api/splashes", function(json) {
        if(json.splashes) $(".afe-banner h2").text(json.splashes);
      });
    });
