extend templates/master.jade

block head-custom
  +meta-title("Community Portal")
  +meta-description("Anthon Open Source Community")

block append stylesheet
  +include-css("/assets/css/flow.css")
  +include-css("/assets/css/hoverpanel.css")
  +include-css("/assets/css/index.css")

block banner
  .row
    .col-md-12.text-center
      h1 AOSC
      // HERE IS AN IDEA, RANDOM SUB-TITLE EACH VISIT?
      // GOOD IDEA
      h2 &nbsp;
    .col-md-offset-3.col-md-6.text-center
      p.
          Welcome to Anthon Open Source Community! We are a group of free and open technology enthusiasts working hard for improvements.
    .col-md-12.text-center
      a(href="#").afe-button
        img(alt="Download", src="/assets/i/button-download.svg")
      a(href="#").afe-button
        img(alt="About", src="/assets/i/button-about.svg")

block banner-floating
  .row
    .col-md-12.text-center
      small.
        Most good programmers do programming not because they expect to get paid
        or get adulation by the public, but because it is fun to program. -- Linus Torvalds

block content
  .afe-sub-banner.hidden-sm.hidden-xs
    .row(style="background-color: #cdcdcd; padding-top: 0; padding-bottom: 15px;")
      // FIXME: PROTOTYPE
      .col-md-1
        div.afe-little-node(style="width: 65px; height: 65px; border-radius: 0; margin: 15px 0px 0px;")
      .col-md-1
        div.afe-little-node(style="width: 65px; height: 65px; border-radius: 0; margin: 15px 0px 0px;")
      .col-md-1
        div.afe-little-node(style="width: 65px; height: 65px; border-radius: 0; margin: 15px 0px 0px;")
      .col-md-1
        div.afe-little-node(style="width: 65px; height: 65px; border-radius: 0; margin: 15px 0px 0px;")
      .col-md-1
        a(href="#")
          span(style="display: block; margin-top: 60px;") More...
  #wrapper.row
    .col-md-8
      h1.afe-small-captions LASTEST NEWS
      ul.afe-flow
        each val, index in params.broadcast
          if index<5
            li(class="afe-tag-"+val.type)
                h1=val.title
                  small=val.date
                .afe-content
                  each para in val.content
                    !=para
          else if index<8
            li(class="afe-tag-"+val.type): h1: a(href="#")=val.title
        h1(style="font-size: 18px;")
          a(href="/news-flow") Read more...
    .col-md-4
      h1.afe-small-captions PROJECTS OVERVIEW
      ul.afe-hoverpanel
        each project in params.projects
          li
            h1=project.fullname
            p=project.description

block append javascript
  +include-js("/assets/js/hoverpanel.js")
  script.
    $(function() {
      $(".afe-hoverpanel li").hoverPanel();
      $.getJSON("/api/splashes", function(json) {
        if(json.splashes) $(".afe-banner h2").text(json.splashes);
      });
    });
