extend templates/master.jade
block variables
  - var LANGUAGE_CURRENT = "ker";
block append javascript
  script.
    $(document).ready(function() {
      $(this).click(function() {
        alert("狮子半夜出来吓人啦");
      });
    });
