extend templates/master.jade

block head-custom
  +meta-title("News Flow")
  +meta-description("Anthon Open Source Community")

append stylesheet
  +include-css("/assets/css/flow.css")

block banner
  .row
    .col-md-12
      h1 NEWS
      h2 Read hard, get it all caught up :-D
    .col-md-6
      p.
        Things are (actually) going on around the community (surprise!), here we provide
        you with a stream of news in the community.

block content
  #wrapper.row
    .col-md-8
      block news-reuse
        h1.afe-small-captions LASTEST NEWS
        ul.afe-flow
          each val, index in params.broadcast
            li(class="afe-tag-"+val.type)
              h1.afe-title=val.title
                small=val.date
              .afe-content
                each para in val.content
                  !=para
