extend templates/master

include templates/flow-include
include templates/pagination-include
include templates/lightbox-include

block head-custom
  +meta-title(t("news_page.news_flow"))
  +meta-description(t("aosc_full_name"))

append stylesheet
  +include-css("/assets/css/flow.css")

block banner
  .row
    .col-sm-12
      h1 #{t("news_page.news")}
      h2 #{t("news_page.subtitle")}
    .col-sm-6
      p.
        #{t("news_page.desc")}

block content
  #wrapper.row
    .col-sm-8
      h1.afe-small-captions #{t("news_page.all_news")}
      +flow(params.items)
      +pagination(params.pages)

append stylesheet
  +lightbox-css()
append javascript
  +lightbox-js-flow()
