extend ./templates/layout.jade

block title
  | Community Portal - More News
block append stylesheet
  link(rel='stylesheet', href='assets/css/index.css')
  link(rel='stylesheet', href='assets/css/news-flow.css')
block content
  .afe-bigbanner(style="height:18rem;"): .am-g.am-g-fixed.am-vertical-align: .am-vertical-align-middle.am-cf
    .am-u-md-12.am-u-md-offset-2
      h1 More News
      p.afe-bigbanner-text Work hard, get it all caught up! :-D
  #wrapper: .am-g.am-g-fixed
    .am-u-md-10.afe-news-flow
      ul.afe-news(style="margin-top:35px;")
        each val, index in params.broadcast
          if index>1
            li(class="afe-news-tag-"+val.type): .afe-news-container
              if index<4
                h3=val.title
                p.afe-news-info
                  span.afe-news-date=val.date
                .afe-news-body
                  each para in val.content
                    !=para
              else if index>=4
                  a(href="#")
                    h3=val.title
                  span.afe-news-date=val.date
              hr
