extend news

block head-custom
  +meta-title(t("news-view-head", {postProcess: 'sprintf', sprintf: [params.title]}))
  +meta-description(t("aosc_full_name"))

append stylesheet
  +include-css("/assets/css/news-view.css")

block banner
  .row.afe-banner-subpage
    .col-sm-12
      h1=params.title.toUpperCase()
      h2=params.date

block content
  #wrapper.row
    //- FIXME: show image (imgOrig)
    .col-sm-8
      .afe-content
        !=params.htmlcontent
      p#timestamp=params.timestamp
