extend templates/master.jade

block head-custom
  +meta-title("News Flow")
  +meta-description("Anthon Open Source Community")

append stylesheet
  +include-css("/assets/css/flow.css")

block banner
  .row
    .col-md-12
      h1 NEWS
      h2 Read hard, get it all caught up :-D
    .col-md-6
      p.
        Things are (actually) going on around the community (surprise!), here we provide
        you with a stream of news in the community.

block content
  #wrapper.row
    .col-md-8
      h1.afe-small-captions ALL NEWS
      ul.afe-flow
        each val, index in params.items
          li(class="afe-tag-"+val.type)
            h1.afe-title=val.title
              a.afe-anchor(name=val.slug)
              a.afe-popup-content-icon(href="/news/"+val.slug, target="_blank")
                img(src="/assets/i/popup.png", alt="View in a new window")
              small=val.date
            .afe-content
              !=val.htmlcontent
