extend templates/master

block head-custom
  +meta-title("AOSC OS Downloads")
  +meta-description("Anthon Open Source Community")

append stylesheet
  //+include-css("/assets/css/flow.css")
  +include-css("/assets/css/os-download.css")

block banner
  .row
    .col-md-12
      h1 GET AOSC OS
      h2 /* I don't know how it works, it just works. */
    .col-md-8
      p.
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.

block content
  .row
    .col-md-12
      ul.nav.nav-tabs(role="tablist")
        li(role="presentation")
          a(href="#home", aria-controls="home", role="tab", data-toggle="tab") link
        li(role="presentation")
          a(href="#home", aria-controls="home", role="tab", data-toggle="tab") link
        li.active(role="presentation")
          a(href="#home", aria-controls="home", role="tab", data-toggle="tab") link
        li(role="presentation")
          a(href="#home", aria-controls="home", role="tab", data-toggle="tab") link
    .col-md-8
      img.afe-mainframe(src="assets/i/de-preview/" + param.targetImage, alt=param.DEName)
    .col-md-4
      // 右侧栏
