extend templates/master.jade

block head-custom
  +meta-title("AOSC OS Downloads")
  +meta-description("Anthon Open Source Community")

append stylesheet
  //+include-css("/assets/css/flow.css")
  +include-css("/assets/css/os-download.css")

block banner
  .row
    .col-md-12
      h1 GET AOSC OS
      h2 /* I don't know how it works, it just works. */
    .col-md-8
      p.
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.

block content-without-container
  .afe-section-wrapper#section-desktop
    .container
      .row
        h1 Desktop Distributions
        p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
    .afe-invert-background
      .container
        .row
          #desktop-stage-title
          #desktop-stage
          
          #desktop-repo(style="display: none")
            h2.afe-stage-title#arch-title What's Your CPU architecture?
              span(style="margin-left: 1em").afe-architecture
                span.afe-architecture-text
                a(href="javascript:void;").afe-architecture-cancel [x]
            h2.afe-stage-title#de-title Which desktop environment do you like?
            .afe-arch
              ol
                li.btn#desktop-amd64
                  h3 amd64(x64, x86-64)
                  p The most 64-bit architecture of personal computers. The most 64-bit architecture of personal computers.
                li.btn.disabled#desktop-arm
                  h3 ARM
                  p At least my mobile phones are this type.
                  p Coming soon...
                li.btn.disabled#desktop-mips
                  h3 MIPS
                  p Merely...
                  p Coming soon...  
            .afe-de
              form
                span Package Manager:
                input(type="radio", name="package-manager", value="DPKG", checked="checked")
                span.afe-radio-caption DPKG
                input(type="radio", name="package-manager", value="RPM")
                span.afe-radio-caption RPM(experimental)
              ul.afe-de-list
                each val in [1, 2, 3]
                  li.container: .row
                    ul.afe-de-gallery.col-md-4
                      li: img(src="/assets/i/snapshot_test.png")
                    .afe-de-text.col-md-8
                      h3.afe-de-title KDE
                      .afe-de-content
                        p some description of this one.
                        p Download:
                        p
                          a.btn LIVE CD
                          a.btn tarball
  .afe-section-wrapper#section-docker
    .container
      .row
        h1 Dockers
        p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
    .afe-invert-background
      .container
        .row
          h2(style="height: 10em") meow

  .afe-section-wrapper#section-buildkit
    .container
      .row
        h1 BuildKit
        p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
    .afe-invert-background
      .container
        .row
          h2(style="height: 10em") meow

append javascript
  script.
    $(function() {
      
      
      var desktop = {
        step: "asking architecture",
        architecture: "",
        doBackground: function (fnc, callback){
          $("#desktop-stage").slideUp("fast", function() {
            fnc(); $("#desktop-stage").slideDown("fast", callback);
          });
        },
        onStage: function (selector){
          $("#desktop-stage").children().appendTo("#desktop-repo");
          $("#desktop-repo").children(selector).appendTo("#desktop-stage");
        },
        selectArch: function(arch) {
          architecture = arch;
          $(".afe-architecture-text").text(architecture);
        },
        cancelArch: function() {
          this.selectArch();
        }
      };
      
      $(".afe-stage-title").hide();
      $(".afe-architecture").hide();
      $("#arch-title").appendTo("#desktop-stage-title");
      $("#arch-title").show();
      desktop.onStage(".afe-arch");
      
      $("#desktop-amd64").click(function() {
        desktop.selectArch("amd64");
        $(".afe-architecture").fadeIn();
        $(".afe-arch").animate({opacity: "0"}, "fast", function(){
          $("#arch-title").css("margin-bottom", "10px").animate({fontSize: "20px"});
          $("#de-title").appendTo("#desktop-stage-title");
          $("#de-title").fadeIn();
          desktop.doBackground(function() {desktop.onStage(".afe-de");}, function() {
            $(".afe-de").animate({opacity: "1"}, "fast");
          });
        });
      });
      
      $(".afe-architecture-cancel").click(function() {
        desktop.cancelArch();
        $(".afe-architecture").fadeOut("fast");
        $("#de-title").fadeOut("fast");
        $(".afe-de").animate({opacity: "0"}, "fast", function(){
          $("#arch-title").css("margin-bottom", "20px").animate({fontSize: "26px"});
          $("#de-title").appendTo("#desktop-stage-repo");
          desktop.doBackground(function() {desktop.onStage(".afe-arch");}, function() {
            $(".afe-arch").animate({opacity: "1"}, "fast");
          });
        });
      });
    });
