extend templates/master.jade

block head-custom
  +meta-title("AOSC OS Downloads")
  +meta-description("Anthon Open Source Community")

append stylesheet
  //+include-css("/assets/css/flow.css")

block banner
  .row
    .col-md-12
      h1 GET AOSC OS
      h2 ////
    .col-md-8
      p.
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.

block content
  #wrapper.row
