extend templates/master.jade

block head-custom
  +meta-title("AOSC OS Downloads")
  +meta-description("Anthon Open Source Community")

append stylesheet
  //+include-css("/assets/css/flow.css")
  +include-css("/assets/css/os-download.css")

block banner
  .row
    .col-md-12
      h1 GET AOSC OS
      h2 /* I don't know how it works, it just works. */
    .col-md-8
      p.
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.

block content-without-container
  #section-desktop
    .container
      .row
        h1 Desktop Distributions
        p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
    .afe-invert-background
      .container
        .row
          h2 What's Your CPU architecture?
          ol.afe-arch
            li.btn#desktop-amd64
              h3 amd64(x64, x86-64)
              p The most 64-bit architecture of personal computers. The most 64-bit architecture of personal computers.
              .afe-de-menu
                h4(style="display: none") Which desktop environment you like?
                form(style="display: none")
                  span
                    | DPKG
                    input(type="radio", name="os_pm", value="DPKG", checked="checked")
                  span
                    | RPM(experimental)
                    input(type="radio", name="os_pm", value="RPM")
                ul(style="display: none")
                  li
                    h5 KDE
                    ul
                      li: img
                      li: img
                      li: img
                    p some description of this one.
                    a.btn DOWNLOAD
                  li
                    h5 GNOME
                    ul
                      li: img
                      li: img
                      li: img
                    p some description of this one.
                    a.btn DOWNLOAD
            li.btn.disabled#desktop-arm
              h3 ARM
              p At least my mobile phones are this type.
              p Coming soon...
            li.btn.disabled#desktop-mips
              h3 MIPS
              p Merely...
              p Coming soon...
              
  #section-docker
    .container
      .row
        h1 Dockers
        p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
    .afe-invert-background
      .container
        .row
          h2(style="height: 10em") meow

  #section-buildkit
    .container
      .row
        h1 BuildKit
        p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
    .afe-invert-background
      .container
        .row
          h2(style="height: 10em") meow

append javascript
  script.
    $(function() {
      hideAllArchMenu = function() {
        var promise_hideLast = function() {
          return $("ol.afe-arch > li[data-last-visible!='true']:last")
            .animate({opacity: "0"}, "fast")
            .attr("data-last-visible", "true");
        }
        var prevPromise = $.when(promise_hideLast());
        for(var i = 1; i <= $("ol.afe-arch > li").length - 1; i++)
          prevPromise = prevPromise.then(promise_hideLast);
        return prevPromise;
      }
      $("#desktop-amd64").click(function() {
        hideAllArchMenu().done(function(){
          alert("TODO");
        });
      });
    });
