extend ./templates/layout.jade

block title
  | Community Portal - AOSC
block append stylesheet
  link(rel='stylesheet', href='assets/css/index.css')
  link(rel='stylesheet', href='assets/css/projects.css')
block content
  .afe-bigbanner-non-index: .am-g.am-g-fixed.am-vertical-align: .am-vertical-align-middle
    .am-u-md-12
      each project in params.project
        .am-u-md-2.am-u-md-offset-1
          li.am-cf.afe-projects-horizon
            img.afe-projects-logo-horizon(src="/assets/i/" + project.mininame + ".svg")
  #wrapper: .am-g.am-g-fixed
    .am-u-md-9.afe-projects-centered.afe-projects-details
      each pjt in params.project
        h2=pjt.fullname
        .afe-about-body
          each para in pjt.long
            p=para
        hr
