extend ../templates/framework.jade
block title
  | You ain't suppose to be here?
block content
  .text-center
    h1
      br
      | This is work in progres!
      br
      | Just go back, and go back around later.
