/* Temp */

img[src="/img/solid-color.png"] {
	border-radius: 1000px;
}

header.index-download-section {
	/*background: #F9F9F9;*/
	border-bottom: 1px solid #DDD;

}

.dl-project-details {
	padding: 0 0 24px;
}

.dl-proj-logo-frame {}

img.dl-proj-logo {
	width: 100%;
	height: 100%;
}

.dl-porj-text {}

h2.dl-porj-title {
	font-size: 4rem;
}

p.dl-porj-description {
	font-size: 2rem;
}

.dl-select-download-version {
	padding: 0 0 17px;
}

.hover-to-show-primary-and-hide-normal .btn-primary {
	display: none;
}

.hover-to-show-primary-and-hide-normal .btn-normal {
	display: inline-block;
}

.hover-to-show-primary-and-hide-normal:hover .btn-primary {
	display: inline-block;
}

.hover-to-show-primary-and-hide-normal:hover .btn-normal {
	display: none;
}

.dl-select-project {}

ul.dl-list-of-projects {
	font-size: 0;
	text-align: center;
	border-top: 1px solid #DDD;

	display: block;
	padding: 20px 0 0px;
	margin: 0;
}

ul.dl-list-of-projects li {
	font-size: 2rem;
	display: inline-block;
	width: 7em;
	padding: 0 10px;
	margin: 0;
}

ul.dl-list-of-projects li a {
	font-weight: 400;
	color: 888;
	text-align: center;
	text-decoration: none;
	display: block;
}

ul.dl-list-of-projects li a .dl-select-project-proj-logo {
	display: block;
	width: 50px;
	height: 50px;
	margin: 0 auto 0px;
	position: relative;
	top: 0;
	transition: all 100ms ease;
}

ul.dl-list-of-projects li a .dl-select-project-proj-name {
	font-size: 16px;
	display: block;
	opacity: 0;
	position: relative;
	top: -20px;
	transition: all 100ms ease;
}

ul.dl-list-of-projects li:hover .dl-select-project-proj-logo {
	opacity: 1;
	top: -9px;
}

ul.dl-list-of-projects li:hover .dl-select-project-proj-name {
	opacity: 1;
	top: -5px;
}
