mixin myDearAOSC()
  .col-xs-4.col-sm-2.col-md-2.col-lg-3 
    img.pull-right.afe-footer-logo(src="assets/i/aosc.png")
  .col-xs-8.col-sm-10.col-md-10.col-lg-9
    h4 Anthon Open Source Community
    p  Copyleft 2011 - 2015, members of the community.
    p  AOSC "Safe" Web Team, 2015. Bootstrap.
    p  粤 ICP 备 14040623 号

footer
  hr
  .container
    .row
      .col-md-12
      blockquote
        p
          | Most good programmers do programming not because they expect 
          | to get paid or get adulation by the public, but because it 
          | is fun to program.
          span.text-nowrap  -- Linus Torvalds
    .row.afe-footer-links
      .col-lg-5.visible-lg
        +myDearAOSC()
      .col-xs-12.col-lg-7
        .col-xs-6.col-sm-3.col-md-2.col-lg-3
          h4 SITES
          ul
            li: a(href="/") Portal
            li: a(href="/news-flow") News
            li: a(href="/somewhere") Downloads
            li: a(href="/projects") Projects
            li: a(href="/about") About
        .col-xs-6.col-sm-3.col-md-2.col-lg-3
          h4 PROJECTS
          ul
            li: a(href="/distro") AOSC OS
            li: a(href="/projects") Anthon Starter
            li: a(href="/projects") LinkC
            li: a(href="http://l10n.anthonos.org/", target='_blank') Localization
            li: a(href="https://github.com/AOSC-Dev/", target='_blank') Git
        .col-xs-6.col-sm-3.col-md-2.col-lg-3
          h4 SERVICES
          ul
            li: a(href="https://pastebin.anthonos.org/", target='_blank') Pastebin
            li: a(href="somewhere") Mailing List
            li: a(href="irc://irc.freenode.org/#aosc", target='_blank') IRC
        .col-xs-6.col-sm-3.col-md-4.col-md-offset-1.col-lg-3.col-lg-offset-0
          h4 SPONSORS
          ul.afe-ack-logos
            li: a(href="https://www.qingcloud.com/", target='_blank')
              img(src="assets/i/qingcloud.svg", style="max-width:170px")
            li: a(href="https://gitcafe.com/", target='_blank')
              img(src="assets/i/gitcafe.svg", style="max-width:104px")
      .col-xs-12.hidden-lg
        +myDearAOSC()
