nav.navbar.navbar-fixed-top.afe-navbar
  .text-center
    .container
      .navbar-header
        button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#doc-navbar-collapse', aria-expanded='false')
          span.sr-only Toggle navigation
          span.icon-bar
          span.icon-bar
          span.icon-bar
        a.afe-navbar-index-highlight.navbar-brand(href='/') AOSC
      #doc-navbar-collapse.navbar-collapse.collapse
        ul.nav.navbar-nav
          li: a(href="/news-flow") NEWS
          li: a(href="/osdownload") DOWNLOAD
          li 
            a.afe-nav-right-btn(href="#", class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false") PROJECTS 
              span(class="caret")
            ul.dropdown-menu.afe-dropdown-menu
              li: a(href="/distro") AOSC OS
              li: a(href="/projects") OTHER PROJECTS
          li 
            a.afe-nav-right-btn(href="#", class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false") SERVICES
              span(class="caret")
            ul.dropdown-menu.afe-dropdown-menu
              li: a(href="https://pastebin.anthonos.org/", target='_blank') PASTEBIN
              li: a(href="https://webchat.freenode.net/?channels=aosc", target='_blank') IRC
          li: a(href="https://github.com/AOSC-Dev/", target='_blank') GIT
          li: a(href="/about") ABOUT
