extend ./framework.jade
block title
  | Templates::Layout
block append stylesheet
  link(rel='stylesheet', href='assets/css/common.css')
block header
    .am-topbar.am-topbar-fixed-top.afe-navbar
      .am-u-md-10.am-u-md-offset-1
        ul.afe-navbar.am-topbar-nav.am-nav.am-nav-pills.am-nav-justify
          a(href="/index.html")
            img.afe-navbar-logo(src="assets/i/aosc.png")
          li: a(href="news-flow") News
          li: a(href="projects") Projects
          li: a(href="https://github.com/AOSC-Dev/") Git
          li: a(href="about") About
          li.afe-navbar-download-highlight: a(href="somewhere") Downloads
block content
block footer
  .am-g
    .am-u-md-11.am-u-md-offset-1
      .am-u-md-2
          h4 SITES
          li: a(href="somewhere") Portal
          li: a(href="somewhere") News
          li: a(href="somewhere") Downloads
          li: a(href="somewhere") Projects
          li: a(href="somewhere") About
      .am-u-md-2
          h4 PROJECTS
          li: a(href="somewhere") AOSC OS
          li: a(href="somewhere") Anthon Starter
          li: a(href="somewhere") LinkC
          li: a(href="somewhere") Localization
          li: a(href="somewhere") Git
      .am-u-md-2
          h4 SERVICES
          li: a(href="somewhere") Pastebin
          li: a(href="somewhere") Mailing List
          li: a(href="somewhere") IRC
      .am-u-md-1
        img.afe-footer-logo(src="assets/i/aosc.png")
      .am-u-md-5
        h4  Anthon Open Source Community
        p  Copyleft 2011 - 2015, members of the community.
        p  AOSC "Safe" Fe Team, 2015. Amaze UI.
        p  粤 ICP 备 14040623 号
