extend ./framework.jade

block title
  | Templates::Layout

block append stylesheet
  link(rel='stylesheet', href='//fonts.googleapis.com/css?family=Open+Sans+27px|Montserrat')
  link(rel='stylesheet', href='assets/css/font-awesome.min.css')
  link(rel='stylesheet', href='assets/css/common.css')

block header
  include ./header.jade

block content

block footer
  include ./footer.jade
  .afe-footer-fixed
    include ./footer.jade
