extend ./framework.jade
block title
  | Templates::Layout
block append stylesheet
  link(rel='stylesheet', href='assets/css/common.css')
block content
block footer
  .am-g.am-g-fixed
    .am-u-md-9.am-cf
      - var wowid=0
      while wowid<3
        ul.links.am-fl
          li!='Main Sites ' + wowid++
          li: a(href="somewhere") Portal
          li: a(href="somewhere") Portal
          li: a(href="somewhere") Portal
          li: a(href="somewhere") Portal
    .am-u-md-3
      h3  Anthon Open Source Community
      p  Copyleft 2011 - 2015, for every member of the community.
      p  粤ICP备14040623号
      p  Powered by AOSC-Fe Team and Amaze UI.
      p  Fonts by xxxx.
