mixin lightbox-css()
  +include-css("/assets/css/magnific-popup.css")
mixin lightbox-js()
  +include-js("/assets/js/jquery.magnific-popup.min.js")
  script.
    $(function() {
      $('.image-popup-no-margins').magnificPopup({
        type: 'image',
        closeOnContentClick: true,
        closeBtnInside: false,
        fixedContentPos: true,
        image: {
          verticalFit: true
        },
        zoom: {
          enabled: true,
          duration: 300 // don't foget to change the duration also in CSS
        }
      });
    });
