//-
  I am the header file which is used in basic-html.
  I am the default variables table written in Javascript.

  My lovely variables:

    LANGUAGE_DEFAULT

    KEYWORDS_GLOBAL
      * The keywords shown at all page.

//- NOTICE: the following hyphen and the indents are necessary!
-
  var LANGUAGE_DEFAULT = "en_US";
  var KEYWORDS_GLOBAL = "AOSC, Anthon, Anthon Open Source Community, aosc, anthon, Linux, linux, open source, 开源, 安同, 安同开源社区, 自由软件";
