@import 'banner.layout.styl'
@import '../functions/decorations.styl'

.afe-bigbanner
	paper-shadow: 1 white
	background-color: #3d5799
	color: #fff
	background-image: url("/assets/i/banner.jpg")
	background-repeat: no-repeat
	background-size: cover
	margin-top: 50px
	h1
		color: #000

.afe-bigbanner-non-index
	@extend .afe-bigbanner
