@import 'banner.layout.styl'
@import '../functions/decorations.styl'

.afe-bigbanner
	paper-shadow: 1 white
	background-color: #FBFBFB
	background-position: bottom
	background-repeat: no-repeat
	background-size: cover
	h1
		color: #536583
	p
		color: #536583

.afe-bigbanner-non-index
	@extend .afe-bigbanner
