@import '../functions/layout.styl'

.afe-bigbanner
	paper-layer: 1
	padding: 50px 0
	min-height: 250px
	h1
		font-size: 40px
	p
		font-size: medium
		text-align: justify

.afe-bigbanner-non-index
	@extend .afe-bigbanner
