@import 'banner.layout.styl'
@import '../functions/decorations.styl'

.afe-bigbanner
	paper-shadow: 1 white
	background-color: #0A7FAA
	color: #fff
	background-position: bottom
	background-repeat: no-repeat
	background-size: cover
	h1
		color: #D5DBE7
	p
		color: #D5DBE7

.afe-bigbanner-non-index
	@extend .afe-bigbanner
