@import '../functions/layout.styl'

.afe-cards
	paper-layer: 1
	padding: 0
	min-height: 250px
	margin-bottom: 20px

.afe-cards-text
	h1
		font-size: 40px
		padding-left: 15px
	p
		font-size: medium
		padding-left: 15px
