@import 'cards.layout.styl'
@import '../functions/decorations.styl'

.afe-card
	div
		//border: rgba(127,127,127,0.3) solid 1px
	paper-shadow: 1 white
	background-color: #FDFDFD
	h1
		color: rgba(0, 0, 0, 0.8)
	p
		color: rgba(0, 0, 0, 0.8)
