@import '../functions/layout.styl'

.afe-card
	paper-layer: 1
	padding: 0
	min-height: 250px
	margin-top: 20px

.afe-card-text
	padding: 0 25px
	h2
		font-size: 40px
	p
		font-size: medium

.afe-card-distro-logo
	width: 256px
	height: 256px
