@import 'footer.layout.styl'
@import '../functions/decorations.styl'

footer
	//paper-shadow: 1 white
	//background-color: #D1D1D1
	opacity: 0.8
	.afe-footer-logo
		margin: 10px
	blockquote
		border: none
		background: #fcfcfc
		quotes:"\201C""\201D""\2018""\2019"
		&:before
			content: open-quote
			font-size: 4em
			line-height: 0.1em
			margin-right: 0.25em
			vertical-align: -0.4em
		p
			display: inline
			font-size: small
