@import 'footer.layout.styl'
@import '../functions/decorations.styl'

footer
	paper-shadow: white
	background-color: rgb(235,235,235)
	background-image: url('/assets/i/texture.png')
	background-repeat: repeat

	.afe-footer-logo
		margin: 10px
	blockquote
		border: none
		quotes: "\201C" "\201D" "\2018" "\2019"
		&:before
			content: open-quote
			color: #B4B4B4
			font-size: 4em
			line-height: 0.1em
			margin-right: 0.25em
			vertical-align: -0.4em
		p
			display: inline
			font-size: small
