@import 'header.layout.styl'
@import '../functions/decorations.styl'

navColor = #000
navBgColor = #FFF
navDlBgColor = #F948BA

.afe-navbar
	background-color: navBgColor
	paper-shadow: 2 navBgColor
	border-width: 0px
	border-style: solid
	.navbar-toggle
		border-color: #809CCB
		.icon-bar
			background-color: #809CCB
	#doc-navbar-collapse
		li a
			color: alpha(navColor, 80%)
			&:hover
				color: alpha(navColor, 100%)
				background-color: lighten(navBgColor, 50%)
		li.afe-navbar-download-highlight a
			background-color: navDlBgColor
			color: white
			&:hover
				background-color: lighten(navDlBgColor, 50%)
