@import '../functions/layout.styl'

.afe-navbar
	paper-layer: 2 fixed
	.am-nav-pills
		li
			margin: 0
		a
			font-weight: medium
		.afe-navbar-logo
			width: 32px
			height: 32px
			margin: 9px 30px
