@import 'header.layout.styl'
@import '../functions/decorations.styl'

.afe-navbar
	paper-shadow: 2 #39635F
	background-color: #39635F
	border-width: 0px
	border-style: solid
	li a
		color: white
		&:hover
			color: white
			background-color: #39635F
	li.afe-navbar-download-highlight a
		background-color: #E51572
		&:hover
			background-color: #E51572
