@import 'header.layout.styl'
@import '../functions/decorations.styl'

navColor = #000
navBgColor = #FFF
navDlBgColor = #536583

.afe-navbar
	background-color: navBgColor
	paper-shadow: 1 navBgColor
	border-width: 0px
	border-style: solid
	.navbar-toggle
		border-color: #809CCB
		.icon-bar
			background-color: #809CCB
	#doc-navbar-collapse
		li a
			color: alpha(navColor, 80%)
			&:hover
				color: alpha(navColor, 100%)
				background-color: darken(navBgColor, 10%)
	a.afe-navbar-index-highlight
		background-color: navDlBgColor
		color: white
		&:hover
			background-color: lighten(navDlBgColor, 10%)
		//paper-shadow: 1 navBgColor
	.hidden-xs
		.afe-dropdown-menu
			border-radius: 0
			box-shadow: 0 1px 2px 0 alpha(darken(navBgColor,50%),0.2)
			border-top-style: none
