@import '../functions/layout.styl'

.afe-navbar
	paper-layer: 2 fixed
	margin: auto;
	ul
		margin-left: auto
		margin-right: auto
		float: none
		li
			min-width: 10rem
		a
			font-weight: medium
		.afe-navbar-logo
			width: 32px
			height: 32px
			margin: 0 30px
