@import 'side.layout.styl'
@import '../functions/decorations.styl'

.afe-side
	margin: 3rem 0rem
	li img
		width: 50px
		height: 50px
		margin: 0.5rem 0
	.afe-side-item-body
		padding: 10px 0
		margin: 2px 0 0 60px
		h3
			font-size: medium
			margin: 0
		p
			font-size: small
			margin: 0
			min-height: 15px
			max-height: 15px
			overflow: hidden
			height: auto
			transition: all 200ms
		&:hover p
			max-height: 10rem
	span
		margin-bottom: 15px
