extend ../templates/master

include ../templates/affix-include

block head-custom
  +meta-title(params.person.username + " | People")
  +meta-description("Anthon Open Source Community")

append stylesheet
  +include-css("/assets/css/project.css")
  if params.hasStylesheet
    +include-css("/assets/css/projects-" + params.project.mininame + ".css")

block banner
  .row
    .col-sm-12
      h1
        a#link-to-projects(href="/people") PEOPLE
        |&nbsp;/&nbsp;
        =params.person.username
      h2=params.person.description
    .col-sm-6
      p=params.person.longdesc

mixin people-wrapper
  .row
    block

mixin people-main
  .col-sm-8
    block

mixin people-side-panel
  .col-sm-4: #side-panel.affix-top
    block
  .col-sm-4.invisible#side-panel-width

append javascript
  +affix-js('#side-panel', '#side-panel-width')
  script.
    $(function() {
      var wrapper = $('#afe-container-main');
      wrapper.find('a').each(function() {
        var that = $(this);
        var kernel = /^\[(.*)\](\.\S+)*$/.exec(that.html());
        if(kernel) {
          that.html(kernel[1]).addClass('btn btn-default');
          if(kernel[2]) {
            var classes = kernel[2].replace(/\./g, ' ');
            that.removeClass('btn-default').addClass(classes);
          }
        }
      });
    });
