extend _template

block content
  +people-wrapper
    +people-main
      :markdown-it
        ### Other hackable addictions:
        * Archlinux
        * Surface Pro 3
        * Arduino
        * Minecraft
        ### Other non hackable addictions:
        * Ingress
        * osu
        * VOEZ
        * Blender
        
        _よろしくお願いします。_
        
    +people-side-panel
      h1 Links
      p: a(href="https://cth451.tk/") Blog.
      p: a(href="https://github.com/cthbleachbit/") GitHub.
