extend _template

block content
  +people-wrapper
    +people-main
      svg#Capa_1(version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', x='0px', y='0px', viewbox='0 0 31.49 31.49', style='enable-background:new 0 0 31.49 31.49;height:350px;width:100%;', xml:space='preserve')
        path(style='fill:#1E201D;', d='M21.205 5.007c-.429-.444-1.143-.444-1.587 0-.429.429-.429 1.143 0 1.571l8.047 8.047H1.111C.492 14.626 0 15.118 0 15.737c0 .619.492 1.127 1.111 1.127h26.554l-8.047 8.032c-.429.444-.429 1.159 0 1.587.444.444 1.159.444 1.587 0l9.952-9.952c.444-.429.444-1.143 0-1.571L21.205 5.007z')
      h1 My Toys
      ul
        li Thinkpad T460P: AOSC OS, Manjaro Linux, Hackintosh, Windows 10, Phoenix OS
        li Samsung 450r5j: FreeBSD, Deepin
        li Raspberri PI 3: AOSC OS, Fuchsia
        li Oneplus 2: Oxygen OS v3.6 (6.0)
        li Samsung Chromebook Plus: Chrome OS on aarch64
        li Xiaomi Mi3W(cancro): Lineage OS 14.1 (7.1) 
        li MiWiFi 3: OpenWRT on mipsel
        li Cube iWork 12: Android IA (5.1), Windows 10
      h1 Currently interested in
      ul
        li Fuchsia/Magenta
        li Qt Desktop Dev
        li Golang
        li Deep Learning
        li Rust
        li Redox OS
        li Decentralized Networking
        li Automation :)
      //-iframe(src="https://i.yirong.ml" style="width:100%; height:800px;")
      


    +people-side-panel
      h1 Onepage Self-Intro
      p: a.btn.btn-danger(href="https://yirong.ml/about" target="_blank") About
      p: a.btn.btn-danger(href="https://rongyi.ml/about" target="_blank") 关于
      h1 My Website Links
      p: a.btn.btn-info(href="https://yirong.ml" target="_blank") Homepage (English)
      p: a.btn.btn-info(href="https://rongyi.ml" target="_blank") 个人网站 (简体中文)
      //-p: a.btn.btn-success(href="https://i.yirong.ml" target="_blank") Homepage
      h1
      p: a.btn.btn-primary(href="https://github.com/LER0ever" target="_blank") GitHub
