extend _template

block content
  +people-wrapper
    +people-main
      :markdown-it
        POWER to the People.
        ====================

        Who am I?
        ---------

          - Mingcong Bai（白铭骢）.
          - Undergraduate History and Russian student at University of Wisconsin.

        Main areas of work
        ------------------

          - Developer of AOSC OS, and maintainer of the PowerPC and MIPS ports.
          - Long-term localization volunteer for FreeDesktop.org, GNOME, MATE, and WineHQ.
          - Historical and linguistic research (on my free time, if any).

        Off-time interests
        ------------------

          - Cooking.
          - Euro Truck Simulator.
          - Pen sketches of urban views.
          - Photography.
          - Vintage computer collection and restoration.

        My devices
        ----------

        ### Daily usage:

          - Class/travel laptop: Lenovo ThinkPad T61 SXGA+.
          - Main desktop: Apple PowerMac G5 Quad.
          - Personal server/asset generator: HP MicroServer Gen8.
          - Gaming: Alienware Alpha Steam Machine R2.
          - Portable vintage station: Toshiba Libretto 50CT with Roland SC-88vl.
          - Main vintage station: IBM NetVista A40p with AMD Athlon XP (shoe-horn'd).

        ### Development related:

          - AMD64 packaging/testing: Lenovo ThinkPad W541.
          - ARM(v7|v8) packaging/testing: NVIDIA Jetson TX1 Development Kit.
          - PowerPC(32|64) packaging/testing: Apple PowerMac G5 Quad.
          - PowerPC32 testing: Apple iBook G4 (late 2004).
          - BayTrail testing: Dell Venue Pro 8.

        ### Hobby projects:

          - Apple MacBook Pro 13.3 Mid-2012 repair for friend.
          - IBM NetVista A40p "AuthenticAMD".
          - IBM ThinkPad 340 "The Silent Box".
          - IBM ThinkPad X20 "Y2K Multimedia Station".
          - IBM ThinkPad A31/p "Y2K Multimedia Station v2".
          - Lenovo ThinkPad T420 built from scratch for future classmate.
          - Lenovo ThinkPad X24/5/60 "FrankenPad" (decommissioned, ULV sucks).
          - Toshiba Libretto 50CT "Mini Multimedia Station".

    +people-side-panel
      h1 Links

      p: a.btn.btn-primary(href="http://mingcongbai.tk") Blog
      P: a.btn.btn-primary(href="http://mingcongbai.tk/resources") Academic Resources
      p: a.btn.btn-primary(href="https://github.com/MingcongBai") GitHub
      p: a.btn.btn-primary(href="https://www.transifex.com/user/profile/JeffBai/") Transifex Profile
      p: a.btn.btn-primary(href="https://l10n.gnome.org/users/JeffBai/") GNOME Contributor Profile
