extend _template

block content
  +people-wrapper
    +people-main
      :markdown-it
        POWER to the People.
        ====================

        Who am I?
        ---------

          - Mingcong Bai（白铭骢）.
          - Undergraduate history major at University of Wisconsin.

        Main areas of work
        ------------------

          - Developer of AOSC OS, and maintainer of the PowerPC and MIPS ports.
          - Long-term localization volunteer for FreeDesktop.org, GNOME, MATE, and WineHQ.
          - Historical and linguistic research (on my free time, if any).

        Off-time interests
        ------------------

          - Cooking.
          - Euro Truck Simulator.
          - Pen sketches of urban views.
          - Photography.
          - Vintage computer collection and restoration.

        My devices
        ----------

        ### Daily usage:

          - Class/travel laptop: Lenovo ThinkPad X240 backported with X250 technologies.
          - Main desktop: Apple PowerMac G5 Quad.
          - Personal server/asset generator: HP MicroServer Gen8.
          - Gaming: Alienware Alpha Steam Machine R2.

        ### Development related:

          - AMD64 packaging/testing: Lenovo ThinkPad W541.
          - ARM(v7|v8) packaging/testing: NVIDIA Jetson TX1 Development Kit.
          - PowerPC(32|64) packaging/testing: Apple PowerMac G5 Quad.
          - PowerPC32 testing: Apple iBook G4 (late 2004).
          - BayTrail testing: Dell Venue Pro 8.

        ### Hobby projects:

          - IBM ThinkPad 340 "The Silent Box".

    +people-side-panel
      h1 Links

      p: a.btn.btn-primary(href="http://mingcongbai.tk") Blog
      p: a.btn.btn-primary(href="https://github.com/MingcongBai") GitHub
      p: a.btn.btn-primary(href="https://www.transifex.com/user/profile/JeffBai/") Transifex Profile
      p: a.btn.btn-primary(href="https://l10n.gnome.org/users/JeffBai/") GNOME Contributor Profile
