extend _template
block content
  +people-wrapper
    +people-main
      p
        span This person invites you to visit their own website.
        strong
          a(href=params.rurl) Click here to proceed.
      br
      strong Please note that the aforementioned site is not affiliated with AOSC
