/* ---- Common ---- */

/* ---- Narod (Nav Bar) ---- */
.afe-navbar {
	background-color: #39635F;
	border-width: 0px;
	border-style: solid;
}
.afe-navbar> li > a {
	color:#FFFFFF;
}
.afe-navbar > li > a:hover {
	color:#FFFFFF;
	background-color: #42736E;
}
.afe-navbar-logo {
	width: 32px;
	height: 32px;
	margin-left: 30px;
	margin-top: 9px;
	margin-bottom: 9px;
	margin-right: 30px;
}
.afe-navbar-download-highlight {
	background-color: #00706C;
}
/* ---- Colors ---- */
.afe-bigbanner {
	background-color: #3d8499;
	color: #fff;
	background-image: url("/assets/i/banner.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	margin-top: 50px;
}
.afe-bigbanner-non-index {
	background-color: #3d8499;
	color: #fff;
	background-image: url("/assets/i/banner.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	margin-top: 50px;
}
.afe-bigbanner-text {
	font-size: normal;
}
.afe-bigbanner h1 {
	color: #fff;
}
body {
	color: #1F1F1A;
	background-color: #fff;
}
#wrapper .am-g {
	background-color: inherit;
}
footer {
	background-color: #D1D1D1;
}
.afe-footer-links {
	margin-bottom: 25px;
}
.afe-littlecaption {
	color: #aaa;
}

  /* -- Color Override -- */
    /* - Button - */

.am-btn-default {
	background-color: #3bb4f2;}
.am-btn-default:hover,.am-btn-default:focus {
  background-color: #19a7f0;}
.am-btn-default:active,.am-btn-default.am-active {
	background-color: #0e93d7;}

.am-btn-primary {
	background-color: #a0d6e5;}
.am-btn-primary:hover,.am-btn-primary:focus {
  background-color: #19a7f0;}
.am-btn-primary:active,.am-btn-primary.am-active {
	background-color: #0e93d7;}

.am-btn-secondary {
	background-color: #3bb4f2;}
.am-btn-secondary:hover,.am-btn-secondary:focus {
  background-color: #19a7f0;}
.am-btn-secondary:active,.am-btn-secondary.am-active {
	background-color: #0e93d7;}

.am-btn-default,
.am-btn-default:visited,
.am-btn-default:hover,
.am-btn-default:focus,
.am-btn-default:active,
.am-btn-default.am-active, {color: #ffffff;}

.am-btn-secondary,
.am-btn-secondary:visited,
.am-btn-primary:hover,
.am-btn-primary:focus,
.am-btn-primary:active,
.am-btn-primary.am-active, {color: #ffffff;}

.am-btn-secondary,
.am-btn-secondary:visited,
.am-btn-secondary:hover,
.am-btn-secondary:focus,
.am-btn-secondary:active,
.am-btn-secondary.am-active, {color: #ffffff;}

.am-btn-default,
.am-btn-default:hover,
.am-btn-default:focus,
.am-btn-default:active,
.am-btn-default.am-active,
.am-btn-primary,
.am-btn-primary:hover,
.am-btn-primary:focus,
.am-btn-primary:active,
.am-btn-primary.am-active,
.am-btn-secondary,
.am-btn-secondary:hover,
.am-btn-secondary:focus,
.am-btn-secondary:active,
.am-btn-secondary.am-active {border: none;}
/* ---- Components ---- */
div {
	border: none;  /* For debugging */
	border-width: 1px;
	border-color: red;
}

.afe-bigbanner, #wrapper, footer {
	padding: 0 5% 0;
}
.afe-bigbanner .am-g{
	padding: 2%;
}
.afe-bigbanner h1 {
	font-size: xx-large;
}
.afe-bigbanner p {
	font-size: medium;
	text-align: justify;
}
.afe-footer-logo {
	width: 80px;
	height: 80px;
}
footer {
	padding-top: 2rem;
	padding-bottom: 3rem;
}
footer ul.links {
	margin: 1rem 5rem 1rem 0;
}
footer h3 {
	margin: 1.5rem 0;
}
footer p {
	margin: 0;
	margin-bottom: 0.5px;
	padding: 0;
	font-size: x-small;
}
.afe-littlecaption {
	font-size: small;
	font-weight: bold;
	margin: 25px 0;
}
/* ---- Layout ---- */

li {
	list-style: none;
}
ol, ul {
	padding-left: 0;
}
h1, .h1 {

}
h2, .h2 {

}
h3, .h3 {

}
h4, .h4 {

}
h5, .h5 {

}
h6, .h6 {

}
p {
	word-wrap: break-word;
	word-break: normal;
}
