@import "variables.include.styl"

input[type='text']
  width: 100%

textarea
  width: 100%
  min-height: 500px
  font-family: Courier, monospace

.afe-news-post-title
  font-size: 22px
  font-weight: 600

.afe-flow
  margin-bottom: 40px
