@import 'common.layout.styl'
@import 'functions/decorations.styl'

body
	background-color: #ccc

#wrapper
	color: #1F1F1A
	.container
		background-color: #fff
		box-shadow: alpha(black,0.2) 0 0 2px

.afe-littlecaption
	color: #aaa

.btn
	border-radius: 0;

@import 'components/header.styl'
@import 'components/banner.styl'
@import 'components/footer.styl'
