@import 'common.layout.styl'
@import 'functions/decorations.styl'

body
	background-color: #FBFBFB

#wrapper
	color: #1F1F1A
	.container
		padding-left: 20px;
		padding-right: 20px;
		background-color: #fff
		box-shadow: alpha(black,0.2) 0 0 2px

.afe-littlecaption
	color: #aaa

.afe-main-item
	width: 100%
	margin-left: 0
	padding-left: 1rem
	border-width: 0
	border-left-style: solid
	border-left-width: 0.8rem
	.afe-main-item-subtitle
		color: #aaa

@keyframes blinking
	0%
		color: transparent
	50%
		color: transparent
	51%
		color: black
	100%
		color: black

.btn
	border-radius: 0;

@import 'components/header.styl'
@import 'components/banner.styl'
@import 'components/footer.styl'
@import 'components/side.styl'
