@import 'functions/layout.styl'

li
	list-style: none

ol, ul
	padding-left: 0

p, code
	word-wrap: break-word
	word-break: normal
	white-space: normal

code
	color: rgb(14,121,161)

body
	padding-top: 50px

#wrapper .container
	padding: 20px 10px

.afe-littlecaption
	font-size: small
	font-weight: bold
	margin: 25px 0 #2183D9

.afe-main
	.afe-main-item
		margin: 3rem 0rem
		h3
			font-size: large
			font-weight: bold
			margin: 0
		padding-top: 0.5rem
		width: 100%
		.afe-main-item-subtitle
			font-size: small
		.afe-main-item-body p
			margin: 0 0 0.5rem
			&:last-of-type
				margin: 0

h1, h2, h3, h4, h5, h6, a
	font-sans-serif()

p
	font-serif()
