
@import "variables.include.styl"

ul.afe-members
  list-style-type: none
  padding-left: 0
  li
    padding: 0 10px 10px 0
    img
      float: left
      width: 100px
      height: 100px
      margin-right: 10px
    h1
      //float: left
      margin-top: 0
      font-size: 20px
      font-weight: bold
      small
        margin-left: 0.5em
        font-size: 16px
