@import 'common.layout.styl'
@import 'functions/decorations.styl'

#wrapper
	color: #1F1F1A
	background-color: #fff
	.container
		background-color: inherit

.afe-littlecaption
	color: #aaa

.btn
	border-radius: 0;

@import 'components/header.styl'
@import 'components/banner.styl'
@import 'components/footer.styl'
