@import 'functions/layout.styl'

li
	list-style: none

ol, ul
	padding-left: 0

p
	word-wrap: break-word
	word-break: normal

#wrapper
	padding: 20px 0

.afe-littlecaption
	font-size: small
	font-weight: bold
	margin: 25px 0
