//@import 'functions/layout.styl'

.afe-card

	.afe-card-banner
		height: 200px
		margin-bottom: 20px

	.afe-card-distro-dl
		padding: 15px

	.afe-hash
		display: block
		width: 100%
		padding: 6.5px 12px

	.afe-card-sysreq
		padding: 15px 0
		.afe-card-sysreq-icon
			position: absolute
			margin-top: 4px
		.afe-card-sysreq-text
			padding-left: 40px
			font-size: small

	.afe-card-distro-logo
		width: 256px !important
		height: 256px !important
		margin: 20px
