@import 'distro.layout.styl'
//@import 'functions/decorations.styl'

.afe-card

  .afe-card-banner
    background-repeat: no-repeat
    background-position: center
    background-size: cover

  .afe-hash
    color: #FFFFFF
    background-color: #ACACAC
    border-radius: 0
    text-overflow: ellipsis
    overflow: hidden
