/*
 * I implement the style of the "flow".
 *
 * Usage:

  ul.afe-flow
    li
      h1=TITLE-1
        small=SUB-TITLE-1
      .afe-content
        p Some paragraphs.
        p Some paragraphs.

 */

@import "variables.include.styl"

ul.afe-flow
  padding-left: 0
  li
    margin: 20px 0
    list-style-type: none
    border-left-style: solid
    border-left-width: 10px
    border-left-color: $color-blue
    padding-left: 30px
    h1
      font-size: 20px
      font-weight: bold
      margin-top: 0
      small
        display: block
        color: $color-dark-grey
        margin-top: 10px
    .afe-content
      a
        color: $color-magenta
// FIXME: implementation of colourful tags
    &.afe-tag-bug
      border-left-color: $color-magenta
      h1
        color: $color-magenta
