/*
 * I implement the style of the "flow".
 *
 * Usage:

  ul.afe-flow
    li
      h1=TITLE-1
        small=SUB-TITLE-1
      .afe-content
        p Some paragraphs.
        p Some paragraphs.

 */

@import "variables.include.styl"

ul.afe-flow
  padding-left: 0
  list-style-type: none
  >li
    margin: 20px 0
    border-left-style: solid
    border-left-width: 15px
    border-left-color: $color-primary
    &.afe-tag-bug
      border-left-color: $color-contrastive
      h1.afe-title
        color: $color-contrastive
    padding-left: 20px
    h1.afe-title
      font-size: 20px
      font-weight: bold
      margin-top: 0
      small
        display: block
        color: $gray-darker
        margin-top: 10px
    img
      float: left
      margin: 0 20px 20px 0
      width: 200px
    .afe-content
      a
        color: $color-contrastive
      code
        white-space: pre
        color: lighten($color-secondary, 40%)
        background-color: transparent
      ol, ul
        margin-bottom: 10px
