/*
 * I am used to override all the font-family setting defined by Bootstrap.
 *
 */

$font-family-sans-serif =  Tahoma, Verdana, "Segoe UI", sans-serif
$font-family-serif = Georgia, "URW Bookman L", serif
$font-family-monospace = "Courier New", Courier, "Nimbus Mono L", monospace
