/*
 * I implement the style of the "flow".
 *
 * Usage:

  ul.afe-flow
    li
      h1=TITLE-1
        small=SUB-TITLE-1
      .afe-content
        p Some paragraphs.
        p Some paragraphs.

 */

@import "variables.include.styl"

$hoverpanel-title-size = 18px

ul.afe-hoverpanel
  margin: 20px 0
  padding-left: 0
  li
    margin: 10px 0
    list-style-type: none
    position: relative
    &:before
      content: " "
      display: block
      position: absolute
      left: 0
      top: 0
      width: $hoverpanel-title-size
      height: $hoverpanel-title-size
      margin-right: $hoverpanel-title-size
      background-color: $color-secondary
    h1
      margin: 0 0 3px $hoverpanel-title-size * 2
      font-size: 18px
      font-weight: normal
      display: inline-block
    p
      padding-left: $hoverpanel-title-size * 2
      font-size: small
      margin: 0 0 0.5rem 0
