//
// I am the master stylesheet which will be applied on all pages.
//

@import "variables.include.styl"
@import "fonts.include.styl"

.afe-banner
  .afe-button
    display: inline-block
    margin: 10px 20px
    img
      width: 30px
      height: 30px
