@import "variables.include.styl"

.afe-banner-tail
  background-color: #cdcdcd
  position: absolute
  width: 100%
  left: 0
  margin: 0
  padding: 0
  .row
    padding: 10px $side-padding
  ul
    list-style-type: none
    padding: 0
    margin: 0
    li
      float: left
      padding:  10px 10px 10px 0
  img
    width: 65px
    height: 65px

.afe-banner-tail-padding
    height: 85px

#button-more
  display: block
  margin: (65px - 30px)*0.5
  border-radius: 100%
  img
    border-radius: 100%
    width: 30px
    height: 30px
