//
// I am the master stylesheet which will be applied on all pages.
//

@import "variables.include.styl"
@import "fonts.include.styl"

.afe-main-item-subtitle
  small
    color: $color-dark-grey

.afe-main-item-body
  padding-top: 10px
  p
    color: $color-blue
  a
    color: $color-magenta

.afe-side
  li
    p
      font-size: small
      margin: 0 0 0.5rem 0
      min-height: 4px
      max-height: 4px
      overflow: hidden
      height: auto
      transition: all 200ms
    &:hover p
      max-height: 10rem

.afe-button-upper
  border-radius: 6px 6px 0px 0px
  background: $color-blue
  transition: all 200ms
  &:hover
    background: #999999

.afe-button-bottom
  border-radius: 0px 0px 6px 6px
  background: $color-light-grey
  transition: all 200ms
  &:hover
    background: $color-grey

.afe-sub-banner
  background-color: #cdcdcd
  margin: 0
  padding: 0

.afe-small-captions
  margin-bottom: 30px

.afe-little-node
  width: 16px
  height: 16px
  background-color: $color-light-blue
  border-radius: 5px
  &:hover
    background-color: $color-blue

.afe-nav
  float: none
  font-size: 18px
  li
    display: inline-block

    &:nth-of-type(2)
      a
        margin-left: $navs-padding

    &.afe-primary
      margin-left: -15px // = Bootstrap: @grid-gutter-width / -2
      float: left
      a, a:hover, a:focus
        color: $color-light-grey
        background-color: $color-blue

    &.afe-highlight
      margin-right: -15px // = Bootstrap: @grid-gutter-width / -2
      float: right
      a, a:hover, a:focus
        color: $color-light-grey
        background-color: $color-magenta

.afe-banner
  min-height: $banner-min-height
  position: relative
  z-index: 100

.afe-banner > div
  background-color: $color-light-grey
  box-shadow: 0 3px 3px 0 alpha(black, 35%)

.afe-static-banner
  position: relative
  width: 100%
  z-index: 100
  .row
    padding: 20px $side-padding
    h1, h2, p
      color: $color-blue
    h1
      font-size: $banner-h1-size
      font-weight: bold
      margin: 10px // override the margin setting of Bootstrap
    h2
      font-size: $banner-h1-size * 0.4
      font-weight: bold
    h3
      font-size: $banner-h1-size * 0.3
      font-weight: bold

.afe-floating-banner
  position: absolute
  width: 100%
  bottom: 0
  opacity: 0.9
  min-height: $floating-banner-min-height
  &.afe-fixed
    position: fixed
    top: $navbar-height
    bottom: auto
  .row
    padding: 5px $side-padding // same as ".afe-banner .row"

.afe-body
  background-color: $color-blue // The side
  .row
    padding: $body-padding-vertical $side-padding
    background-color: $color-light-grey

.afe-footer
  height: $footer-height
  color: $color-blue
  background-color: $color-grey
  span
    line-height: @height
    margin-right: 2em
    &:last-type
      margin-right: 0

body
  color: $color-blue // text color
  background-color: $color-light-grey // for dynamic banner
  padding-top: $navbar-height // = Bootstrap: @navbar-height
  padding-bottom: $footer-height
  a
    color: $color-blue
