//
// I am the master stylesheet which will be applied on all pages.
//

@import "variables.include.styl"
@import "fonts.include.styl"

.afe-nav
  float: none
  font-size: 18px
  li
    display: inline-block

    &:nth-of-type(2)
      a
        margin-left: $navs-padding

    &.afe-primary
      margin-left: -15px // = Bootstrap: @grid-gutter-width / -2
      float: left
      a, a:hover, a:focus
        color: $color-light-grey
        background-color: $color-blue

    &.afe-highlight
      margin-right: -15px // = Bootstrap: @grid-gutter-width / -2
      float: right
      a, a:hover, a:focus
        color: $color-light-grey
        background-color: $color-magenta

.afe-banner
  width: 100%
  min-height: 230px
  padding: 20px
  background-color: $color-light-grey
  box-shadow: 0 3px 3px 0 alpha(black, 35%)
  position: relative
  z-index: 100
  .row
    padding: 0 $side-padding
    h1, h2, p
      color: $color-blue
    h1
      font-size: $banner-h1-size
      font-weight: bold
      margin: 10px // override the margin setting of Bootstrap
    h2
      font-size: $banner-h1-size * 0.4
      font-weight: bold
    h3
      font-size: $banner-h1-size * 0.3
      font-weight: bold

.afe-body
  .row
    padding: $body-padding-vertical $side-padding
    background-color: $color-light-grey

.afe-footer
  height: $footer-height
  color: $color-blue
  background-color: $color-grey
  span
    line-height: @height
    margin-right: 2em
    &:last-type
      margin-right: 0

body
  padding-top: $navbar-height // = Bootstrap: @navbar-height
  padding-bottom: $footer-height
  color: $color-blue
  background-color: $color-blue // It's just the side
