@import "variables.include.styl"

#timestamp
  display: inline-block
  float: right
  margin-top: 12px
  border-top: alpha($color-primary, 0.5) solid 1px
  padding-top: 12px
  font-size: 12px
  opacity: 0.5
  &:before
    display: inline
    margin-right: 2px
    content: '#'
