@import "variables.include.styl"

.afe-static-banner
  min-height: initial

.nav-tabs
  margin-left: -15px
  margin-right: -15px
  >li
    border: none
    &.active
      >a
        opacity: 1
    >a
      font-size: 16px
      border: none !important
      background-color: transparent !important
      opacity: 0.5
      color: $color-primary !important
      &:hover, &:focus
        opacity: 1

#carousel
  .afe-arrow
    background-repeat: no-repeat
    background-position: center center
    opacity: 0
    transition: 0.25s opacity
    &:hover
      opacity: 0.5
  .afe-arrow-left
    background-image: url("/assets/i/arrow-left.svg")
  .afe-arrow-right
    background-image: url("/assets/i/arrow-right.svg")

wireframe-button()
  background-color: transparent
  color: $color-primary
  &:hover, &:focus
    background-color: white
    color: $color-secondary
    opacity: 0.7

#control-panel
  margin-top: 30px
  .dropdown
    .btn
      width: 100%
      wireframe-button()
  .dropdown-menu
    margin-left: 15px // hack for padding in dropdown's container
  a.tip
    display: block
    color: $gray-darker
    text-decoration: underline
    font-size: small
    margin-top: -10px
    margin-bottom: 5px

#download-panel
  margin-top: 20px
  .btn
    margin-bottom: 15px
    wireframe-button()
