@import "variables.include.styl"

ol, ul
  margin: 0
  padding: 0
  list-style-type: none

body
  background-color: $color-primary
  .popover
    color: $color-primary

.afe-static-banner
  min-height: initial

#wrapper
  color: white

.nav-tabs
  a
    background-color: $gray-darker
    opacity: 0.5

#control-panel
  margin-top: 30px
  .dropdown
    button
      width: 100%
  .dropdown-menu
    margin-left: 15px // hack for padding in dropdown's container
  a.tip
    display: block
    color: $gray-darker
    text-decoration: underline
    font-size: small
    margin-top: -10px
    margin-bottom: 5px

#download-panel
  margin-top: 20px
  button
    margin-bottom: 15px
