
@import "variables.include.styl"

#afe-container-main
  padding-top: 20px
  padding-bottom: 50px
  img
    max-width: 100%
  h1
    font-size: 25px
    font-weight: bold
  h2
    font-size: 20px
    font-weight: bold
  h3
    font-size: 18px
    font-weight: bold
  h4
    font-size: 16px
    font-weight: normal
  h5
    font-size: 14px
    font-weight: bold
  h6
    font-size: 14px
    font-weight: normal
