
@import "variables.include.styl"

#link-to-projects
  opacity: 0.6
  color: white

#afe-container-main
  img
    max-width: 100%
  h1
    font-size: 25px
    font-weight: bold
  h2
    font-size: 20px
    font-weight: bold
  h3
    font-size: 18px
    font-weight: bold
  h4
    font-size: 16px
    font-weight: normal
  h5
    font-size: 14px
    font-weight: bold
  h6
    font-size: 14px
    font-weight: normal

.afe-body >.container>.row
  padding: 25px 0 50px;
