$color-light-blue = #bdccd4
$color-blue = #5e7395+0
$color-magenta = #d70a53
$color-light-grey = #f2f2f2
$color-grey = #e6e6e6
$color-dark-grey = #999999
$color-red = #c1272d

$navbar-height = 45px // Need to apply this to Bootstrap manually.
$footer-height = 30px

$banner-h1-size = 70px

$side-padding = 50px
