/*
 * I am the default variables table for stylesheets.
 *
 */

$color-primary = #3f5172
//$color-primary = #1B1434
$color-secondary = #21324b
$color-contrastive = #d70a53
$color-contrastive-dim = #b61454
$gray-lighter = #f2f2f2
$gray-base = #e6e6e6
$gray-darker = #999999

$navbar-height = 45px // Need to apply this to Bootstrap manually.
$footer-height = 20px

$navs-padding = 10px
$navs-first-last-min-width = 100px

$banner-min-height = 300px
$banner-padding-vertical = $banner-min-height*0.15
$floating-banner-min-height = 30px
$banner-h1-size = 50px

$wrapper-padding-top = 25px

$side-padding = 0
$body-padding-vertical = 50px

@import "fonts.include.styl"
@import "debug.include.styl"
