/*
 * I am the default variables table for stylesheets.
 *
 */

//$color-primary = #3f5172
$color-secondary = #32405a
$color-primary = #261f3d
$color-contrastive = #d70a53
$gray-lighter = #f2f2f2
$gray-base = #e6e6e6
$gray-darker = #999999

$navbar-height = 45px // Need to apply this to Bootstrap manually.
$footer-height = 20px

$navs-padding = 10px
$navs-first-last-min-width = 100px

$banner-min-height = 300px
$banner-padding-vertical = $banner-min-height*0.15
$floating-banner-min-height = 30px
$banner-h1-size = 60px

$wrapper-padding-top = 25px

$side-padding = 50px
$body-padding-vertical = 50px

@import "fonts.include.styl"
