extend ../templates/master

block head-custom
  +meta-title(params.project.fullname + " | Projects")
  +meta-description("Anthon Open Source Community")

append stylesheet
  +include-css("/assets/css/project.css")
  if params.hasStylesheet
    +include-css("/assets/css/projects-" + params.project.mininame + ".css")

block banner
  .row.afe-banner-subpage
    .col-md-12
      h1=params.project.fullname
      h2=params.project.description
    .col-md-6
      p=params.project.long

append javascript
  script.
    $(function() {
      var wrapper = $('#afe-container-main');
      wrapper.find('a').each(function() {
        var that = $(this);
        var kernel = /^\[(.*)\](\.\S+)*$/.exec(that.html());
        if(kernel) {
          that.html(kernel[1]).addClass('btn btn-default');
          if(kernel[2]) {
            var classes = kernel[2].replace(/\./g, ' ');
            that.removeClass('btn-default').addClass(classes);
          }
        }
      });
    });
