extend _template

//-
  "extend _template" at the first line is always nessesary.

  Use ":markdown" to start a block in Markdown language.
  Note:
    Button is "[[Text]](Link)", additional style
    can do in this way: "[[Text].class1.class2.class3](Link)"

  Block "content" is under a ".container". You may use
  ".row" and ".col-*-*" to layout them in a gird system.
  See more: http://getbootstrap.com/css/#grid

block content
  :markdown-it
    # What?

    AST's Startup Toolkit is a helper for installing AOSC OS and other Linux
    distributions on Windows. AST's Startup Toolkit was originally known as
    "Anthon Starter", providing support for installing AOSC OS (formerly
    AnthonOS) on Windows.

    # Current status

    Anthon Starter, after several attempts of development, have failed.
    However, the project has restarted its development design process, to remake
    the project into a universal installer instead of one that serves
    AOSC OS specifically.

    # Get in touch

    Currently several people are participating in the re-design effort, however,
    currently it is better to get in touch with Junde Yhi <lmy441900@aosc.xyz>
    to have some initial interaction before you join.
