extend _template

block content
  +project-wrapper
    +project-main
      :markdown-it
        # What?

        AST's Startup Toolkit (AST in short) is a helper for installing Linux
        distributions on Windows (and of course AOSC OS). AST's Startup Toolkit
        was originally known as "Anthon Starter", providing support for
        installing AOSC OS (formerly AnthonOS) on Windows, but now it has been
        designed as a universal installer instead of one that serves AOSC OS
        specifically.

        # Planned features

        - **Universal Linux support**. Whether it is Debian or Fedora, you can boot
          into its ISO image with a single click.
        - **No other media needed**. You don't need a USB flash disk, a CD or DVD,
          or anything else to boot into the Linux ISO image. AST does all operations
          on the local disk.
        - **Compatible with NT5's `NTLDR`**. You can even use AST on a Windows XP
          (without graphical user interface).
        - **UEFI support**. You can boot into a Linux ISO image with a modern firmware
          directly, without switching this or that (in BIOS).
        - Easy-to-use user interface ~~(really a planned feature)~~.

        # Current status

        AST's Startup Toolkit is currently under re-designing and initial
        development (yes, simultaneously), including the core functionalities
        and the graphical user interface.

        No particular time table available. ~~The future is always not predictable.~~

        # Participating

        You are welcomed to join this project! You can open Pull Requests in our
        repository, or join in the community IRC channel `#aosc` to discuss. You
        can also directly contact Junde Yhi <lmy441900 at aosc dot xyz> to get
        more information.

    +project-side-panel
      h1 Links
      a.btn.btn-primary.disabled(href="#") Github Repository (does not exist yet)
      a.btn.btn-primary(href="https://github.com/lmy441900/ast-draft/") Design Prototype
