extend _template

//-
  "extend _template" at the first line is always nessesary.

  Use ":markdown" to start a block in Markdown language.
  Note:
    Button is "[[Text]](Link)", additional style
    can do in this way: "[[Text].class1.class2.class3](Link)"

  Block "content" is under a ".container". You may use
  ".row" and ".col-*-*" to layout them in a gird system.
  See more: http://getbootstrap.com/css/#grid

block content
  :markdown-it
    # Significance of L10n

    Imagine a software you love and use everyday comes with a interface (or
    parts of it) in a language that you don't comprehend - not only is it
    counter-productive, you won't be able to enjoy your software like you did
    before.

    Localization is a global effor to provide software projects with interfaces
    translated into languages used around the world - to provide users with a
    more welcoming experience, and probably provide developers with a more
    diverse user group.

    # Doing L10n right

    Localization (L10n) is certainly helpful and essential in a way, however,
    localization is not doing its job right until it's done the right way.

    AOSC's L10n group provides translators of zh_CN (Chinese Simplified, China)
    and zh_TW (Chinese Traditional, Taiwan - a collected audition effort with
    the L10n-tw community) background with a unified guideline on effectively
    using words, punctuations, symbols, etc.

    # Get ready to contribute!

    These days, we could never have too much people joining the effor in
    localizing F/OSS projects.

    Projects and organizations like FreeDesktop.org, MATE Desktop, and Wine
    have been a long-time beneficiary of our localization effort.

    We have provided some materials for you to get started on localization work,
    and we hope to see you making a positive impact on localization of F/OSS
    projects!

    [[L10n Guide (zh_CN)].btn.btn-default](https://repo.aosc.io/misc/l10n/zh_CN_l10n_1.5.2.pdf)
    [[L10n Guide (zh_TW)].btn.btn-default](https://docs.google.com/document/d/1Zs4CS_ZjN-imnImq4aEsiVYih8zkIkVZTSQim13_kYg)
    [[Translation Repository (GitHub)].btn.btn-default](https://github.com/AOSC-Dev/translations)
    [[Transifex Organization].btn.btn-default](https://www.transifex.com/aosc-dev/)
