extend ../templates/framework.jade
block title
  | 404 Not Found
block content
  .text-center
    h1
      br
      | Do
      br
      | BOOM!
    h3 with
    p: em=params.url
    p but he's not here.
