doctype html
html(lang="en")
  head
    title 500 Internal Server Error
    link(href="/css/bootstrap.min.css", rel="stylesheet")
  body
    h1(class="text-center") Something went wrong, and it's always Back-end Engineers' pot.
