extend ../templates/framework.jade
block title
  | 500 Internal Server Error
block content
  .text-center
    h1
      br
      | Something went wrong
    h2 and it's always
    h1
      | Back-end Engineers' pot.
    p: em  Oops, sorry.
    .container: .row: .col-sm-12
      p URL: #{params.url}
      p=params.err
